*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: whitesmoke;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img {
display: block;
margin: 0 auto;
height: 200px;
width: 200px;
}

h2 {
text-align: center;
font-size: 1em;
color: #e94d58;
margin: 15px 0;
}

.btn-group {
width: 100%;
height: 50px;
display: flex;
justify-content: center; /* Center the buttons horizontally */
align-items: center;
margin-top: 50px;
}

button {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center;
position: absolute;
width: 150px;
height: inherit;
color: white;
font-size: 1.2em;
border-radius: 30px;
outline: none;
cursor: pointer;
box-shadow: 0 2px 4px gray;
border: 2px solid #e94d58;
font-size: 1.2em;
}

button:nth-child(1) {
margin-left: -200px;
background: #e94d58;
 color: white;
}
button:nth-child(2) {
  
margin-left: 200px;
background: #ffffff;
color: #e94d58;
}
